<div id="main">

  <div class="container-fluid page-header">
    <div class="row-fluid">
      <div class="span6"><h2>Time Recorder <br><small><i class="icon-calendar"></i> <span id="currentWeek"></span></small></h2></div>
      <div class="span6">
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <button class="btn calendar-prev-week-btn" rel='tooltip' title="Previous week"><i class="icon-double-angle-left"></i></button>
            <button class="btn calendar-today-btn">Today</button>
            <button class="btn calendar-next-week-btn" rel='tooltip' title="Next week"><i class="icon-double-angle-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="calendar"></div>

</div>

<%= render_cell(:modal_window, :show, data: {name: "event-dialog", title: "Event", content: render(partial: 'event_form').html_safe}) %>

<% content_for :js do %>

<script>
  var mint = {
    url: {
      create_new_event: '/time_records.json',
      update_event: '/time_records',
      get_all_events: '/time_records.json'
    }
  };

  var current_event = {
    event_item: null,
    event_ui: null
  }

  $(document).ready(function() {

    var theCalendar = $('#calendar');

    $('#event-dialog').on('hidden', function() {
      $('#event-dialog form input[type="submit"]').button('reset');
      $('#time_record_started_at').val(null);
      $('#time_record_ended_at').val(null);
      $('#time_record_user_id').val(0); //TODO replace by real logged in use
      $('#time_record_project_id').val(0);
      $('#time_record_remark').val(null);

      theCalendar.weekCalendar('refresh');
    });

    $("#currentWeek").text(theCalendar.weekCalendar("getCurrentFirstDay").toString('yyyy-MM-dd') + ' ~ ' + theCalendar.weekCalendar("getCurrentLastDay").toString('yyyy-MM-dd'));
    $('.calendar-next-week-btn').click(function() {
      theCalendar.weekCalendar("nextWeek");
    });
    $('.calendar-prev-week-btn').click(function() {
      theCalendar.weekCalendar("prevWeek");
    });
    $('.calendar-today-btn').click(function() {
      theCalendar.weekCalendar("today");
    });

    $('#event-dialog form').on('ajax:beforeSend', function() {

      $('#event-dialog form input[type="submit"]').button('loading');
      current_event.event_item.title = $('#time_record_remark').text();

    }).on("ajax:complete", function() {

    }).on("ajax:error", function(xhr, status, error) {
      // TODO display error message on window
      $('#event-dialog form input[type="submit"]').button('reset');

    }).on("ajax:success", function(xhr, data, status) {
      eventData.events.push({
            id: data["id"],
            start: Date.parse(data['started_at']),
            end: Date.parse(data['ended_at']),
            title: data['project_name'] + ': ' + data['remark']
          });
      $('#event-dialog').modal('hide');
    });

    theCalendar.weekCalendar({
      eventNew: function(calEvent, $event) {
        $('#time_record_started_at').val(calEvent.start.toString('yyyy-MM-dd HH:mm'));
        $('#time_record_ended_at').val(calEvent.end.toString('yyyy-MM-dd HH:mm'));
        $('#time_record_user_id').val(2); //TODO replace by real logged in user
        $('#event-dialog form').attr('action', mint.url.create_new_event);

        current_event.event_item = calEvent;
        current_event.event_ui = $event;

        $('#event-dialog').modal();
      },
      eventClick: function(calEvent, $event) {
        console.log(calEvent);
        current_event.event_item = calEvent;
        current_event.event_ui = $event;
      },
      eventDrop : function(calEvent, $event) {
        // TODO update event
      },
      eventResize : function(calEvent, $event) {
        // TODO update event
      },
    });

    $.ajax({
      url: mint.url.get_all_events + '?user_id=2',
      method: 'GET',
      success: function(data) {
        _.each(data, function(item) {
          eventData.events.push({
            id: item["id"],
            start: Date.parse(item['started_at']),
            end: Date.parse(item['ended_at']),
            title: item['project_name'] + ': ' + item['remark']
          });
        });
        theCalendar.weekCalendar('refresh');

        $.contextMenu({
            // define which elements trigger this menu
            selector: ".wc-cal-event",
            build: function($trigger, e) {
              var target = $trigger;
              console.log(target.data('id'));
              return {
                callback: function() {},
                items: {
                  deleteItem: {
                    name: 'Delete',
                    callback: function(key, options) {
                      theCalendar.weekCalendar('removeEvent', target.data('id'));
                    }
                  }
                }
              }
            }

        });
      }
    });
  });
</script>

<% end %>