<div id="main">

  <%= render partial: 'shared/recorder/header' %>

  <div id="leave-calendar"></div>

</div>

<%= render_cell(:modal_window, :show, data: {name: "record-dialog", title: t('model.create', model: LeaveRecord.model_name.human), content: render(partial: 'shared/recorder/user_leave_record_form')}) %>

<% content_for :js do %>

<%= javascript_include_tag "leave_recorder", "recorder/recorder_calendar" %>

<% end %>