#calendar {

}
/* colors */
.wc-container{border-left: none;}
.wc-toolbar{background: transparent; border:none;}
.wc-header{background: transparent; border:none; color: #888;}
.wc-header{border-bottom:2px solid #666;}
.wc-hour-end, .wc-hour-header{color: #666; border-color:#666}
.wc-column-odd{background:transparent;}
.wc-column-even{background:#ddddbe;}
.wc-time-slots .wc-today {background-color: rgba(255, 255, 255, 0.1);}
.wc-scrollable-grid .wc-day-column-last,
.wc-scrollable-grid .wc-day-column-middle,
.wc-scrollable-grid .wc-day-column-first{border-color:#666;}
/*calendar*/

.wc-day-column-first,
.wc-day-column-last,
.wc-day-column-middle,
.wc-time-slot{border-color: #666;}
.wc-header .wc-day-column-header.wc-today{
  background-color: transparent;
  border-color:#666; border: none !important;
  color: #ccc; font-weight: bold;}
.wc-header .wc-today.wc-user-header{font-weight: bold;}

.wc-day-column-last{border-right:1px solid #666 !important;}
.wc-day-column-first{border-left:1px solid #666 !important;}

/*.wc-today.wc-day-column-last{border:3px solid #666 !important;}*/
/*.wc-today.wc-day-column-first{border-left:3px solid #666 !important;}*/

.wc-scrollable-grid {
  background: transparent;
  padding-right: 20px;
}

.wc-time-column-header, .wc-grid-timeslot-header {
  background: transparent;
  width: 50px !important;
}

.wc-hour-header {
  background: transparent;
  /*font-weight: bold;*/
  color: #888;
  border-color: #666;
}

.wc-business-hours {
  font-size: 1em !important;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
}

.wc-time-header-cell {
  /*padding-top: 2px !important;*/
  /*height: 52px !important;*/
}

.wc-time-slot {
  /*height: 29px !important;*/
}

.wc-hourline {
  border-color: #FAD163;
}

.wc-cal-event {
  background: #2b72d0 !important;
  border: 1px solid #1b62c0;
}

.wc-cal-event .wc-time {
  border: none !important;
}