/*
 *= require jquery.ui.all
 *= require bootstrap
 *= require font-awesome

 *= require fullcalendar/fullcalendar
 *= require recorder/recorder_calendar
 *= require jQuery-contextMenu/src/jquery.contextMenu
 */

 @import 'retina';

 html {
  background: url(recorder-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent !important;
  color: white;

  #main {
    width: 80%;
    min-width: 960px;
    margin: auto; clear: both;
    // padding-top: 10px;

    #header {
      .container-fluid {
        padding: 0px;
      }

      h2 {
        &.title {
          display: block;
          height: 40px; width: 620px;
          @include at2x('time_recorder_logo', 320px, 40px, '.png');
          background-repeat: no-repeat;

          span {
            display: none;
          }

          small {
            margin-left: 320px;
            padding: 5px;
            border-left: 2px solid #666;
            font-size: 24px;
            font-weight: bold;
          }
        }
      }

      .user-block {
        a.dropdown-toggle,
        .dropdown-menu li a {
          font-size: 12px !important;
        }
      }
    }

    .nav-tabs {
      margin-bottom: 10px;
      border-color: #666;

      a {
        color: #666;
        font-weight: bold;
        font-size: 12px;

        &:hover {
          background-color: transparent;
          border-color: #666;
        }
      }

      .active {
        a {
          background-color: #666;
          border-color: #666;
          color: white;
          // @include opacity(0.6);
        }
      }
    }


  }

  #record-dialog {
    color: #333;
    form {
      margin-top: 20px;
      margin-bottom: 0px;
    }
  }
}