.table {
  th,
  td {
    padding: 4px 7px;
    white-space:nowrap;

    &.auto {
      width: 100%;
    }

    &.btn-cell {
      padding: 0px;
      width: 26px;

      .btn {
        width: 10px; min-height: 18px; height: 100%;
        padding: 4px 8px; margin: 0px;
        @include border-radius(0);
      }

      &.extend {
        width: auto; min-width: 25px;
        .btn {
          width: auto;
        }
      }
    }
  }

  .nav-pills {
    margin: 0;
  }

  label {
    margin: 0;
    vertical-align: middle;
  }
}

.table-bordered {
  @include border-radius(0);

  th,
  td,
  tr,
  tbody,
  thead,
  tfoot {
    @include border-radius(0);
  }

  th {
    border-bottom: 2px solid $tableBorder;
  }
}

.table-horizontal-bordered {
  @extend .table-bordered;
  th,
  td {
    border-left: none;
  }

  border-right: none;
}

.table-center-vertical-align {
  th,
  td {
    vertical-align: middle !important;
  }
}

.wice-grid {
  .desc,
  .asc {
    background: none;
    &:after {
      content: '\f163';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      padding-left: 0.5em;
    }
  }
  .asc {
    &:after {
      content: '\f162';
    }
  }

  .wg-show-filter,
  .wg-hide-filter {
    &.clickable {
      background: none;
      &:after {
        content: '\f0b0';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
      }
    }
  }

  .submit {
    &.clickable {
      background: none;
      &:after {
        content: '\f021';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        padding-left: 0.5em;
      }
    }
  }

  .reset {
    &.clickable {
      background: none;
      &:after {
        content: '\f00d';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        padding-left: 0.5em;
      }
    }
  }
}
